footer {
  background-color: black;
  color: white;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  justify-items: right;
  align-items: center;
}

.contatos {
  margin: 20px;
  line-height: 2;
}

.texto-disponibilidade {
  font-size: 1.5rem;
}

.links-redes-sociais {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.links-redes-sociais li a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .footer-grid {
    max-width: 250px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .texto-disponibilidade {
    font-size: 1rem;
    max-width: 250px;
    text-align: center;
  }
  .contatos {
    max-width: 250px;
    text-align: center;
    margin: 0;
  }
  .contatos h2 {
    font-size: 1rem;
    max-width: 250px;
    text-align: center;
  }
  .links-redes-sociais {
    justify-content: center;
  }
}
