.introducao {
  max-width: 1400px;
  display: grid;
  margin: 0 auto;
  padding: 40px 20px;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
  justify-content: center;
}

.introducaoContent {
  position: relative;
}

.introducaoContent h1 {
  font-size: 5rem;
}

.introducaoContent::before {
  content: "";
  display: block;
  height: 150px;
  width: 10px;
  background: linear-gradient(#b6f829, #67dd0a);
  top: 20px;
  left: -25px;
  position: absolute;
  z-index: -1;
}

.introducaoContent > p {
  font-size: 1.25rem;
  padding: 20px 0px;
}

@media (max-width: 1200px) {
  .introducaoContent h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  main {
    margin: 0px;
  }
  .introducao {
    max-width: 250px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .introducaoContent h1 {
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
  }
  .introducaoContent p {
    font-size: 1rem;
    text-align: justify;
    white-space: nowrap;
  }
  .introducao img {
    display: none;
  }
  .introducaoContent::before {
    top: 5px;
  }
}
